@charset "UTF-8";
:root {
  --header_height: $header_height;
}
body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  transition:
    color 400ms,
    background-color 400ms;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
label {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.row {
  --bs-gutter-x: 1.875rem;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.flex-auto {
  flex: auto;
}
#sp-menu > .sp-column {
  height: 100%;
}
.sp-module-content .latestnews > li > a > span {
  display: block;
  margin-top: 5px;
  font-size: 85%;
}
#sp-header {
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  animation: spFadeIn 0.5s;
}
#sp-header .logo {
  height: 80px;
  display: inline-flex;
  margin: 0;
  align-items: center;
}
#sp-header .logo a {
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#sp-header .logo p {
  margin: 5px 0 0;
}
#sp-header.header-sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  animation: spFadeInDown 0.5s;
}
#sp-header .sp-module {
  margin-left: 20px;
}
#sp-header nav.sp-megamenu-wrapper #offcanvas-toggler {
  display: none;
}
.burger-icon {
  width: 25px;
  cursor: pointer;
}
.burger-icon > span {
  display: block;
  height: 2px;
  background-color: #000000;
  margin: 5px 0;
  transition:
    background-color 0.3s ease-in,
    opacity 0.3s ease-in,
    transform 0.3s ease-in;
}
.offcanvas-active .burger-icon > span {
  background-color: #000000;
}
.offcanvas-active .burger-icon > span:nth-child(1) {
  transform: translate(0, 8px) rotate(-45deg);
}
.offcanvas-active .burger-icon > span:nth-child(2) {
  opacity: 0;
}
.offcanvas-active .burger-icon > span:nth-child(3) {
  transform: translate(0, -5px) rotate(45deg);
}
.offcanvas-active .close-offcanvas .burger-icon > span {
  transition-delay: 0.2s;
}
.body-innerwrapper {
  overflow-x: hidden;
}
#sp-main-body {
  padding: 100px 0;
}
.com-sppagebuilder #sp-main-body {
  padding: 0;
}
.article-list .article {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}
.article-list .article .article-header h1,
.article-list .article .article-header h2 {
  font-size: 1.375rem;
  margin: 0 0 1.25rem 0;
}
.article-list .article .article-header h1 a,
.article-list .article .article-header h2 a {
  color: #252525;
}
.article-list .article .article-header h1 a:hover,
.article-list .article .article-header h1 a:active,
.article-list .article .article-header h1 a:focus,
.article-list .article .article-header h2 a:hover,
.article-list .article .article-header h2 a:active,
.article-list .article .article-header h2 a:focus {
  color: #044cd0;
}
.article-list .article .readmore {
  font-size: 0.875rem;
}
.article-list .article .readmore a {
  color: #252525;
  font-weight: 500;
}
.article-list .article .readmore a:hover,
.article-list .article .readmore a:active,
.article-list .article .readmore a:focus {
  color: #044cd0;
}
.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.article-info > span {
  font-size: 0.813rem;
}
.article-info > span + span::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "/";
}
.article-info > span a {
  color: #252525;
}
.article-info > span a:hover {
  color: #044cd0;
}
.article-details .article-header {
  position: relative;
}
.article-details .article-header h1,
.article-details .article-header h2 {
  font-size: 2.25rem;
}
.article-details .article-info {
  margin-bottom: 1rem;
}
.article-details .article-can-edit {
  position: relative;
  margin-bottom: 10px;
}
.article-details .article-can-edit a {
  display: inline-block;
  background: #2a61c9;
  color: #fff;
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 14px;
}
.pagenavigation {
  padding: 2rem 0;
}
.pagenavigation .pagination {
  display: block;
}
.pagenavigation .pagination a {
  padding: 5px 15px;
}
.pagenavigation .pagination .next {
  float: right;
}
.pagenavigation .pagination .previous {
  float: left;
}
.pagenavigation .pagination:before,
.pagenavigation .pagination:after {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
  box-sizing: border-box;
}
.latestnews {
  list-style: none;
  padding: 0;
  margin: 0;
}
.latestnews li {
  padding: 2px 0;
}
#sp-bottom {
  padding: 10px 0 0px;
  font-size: 14px;
  line-height: 1.6;
}
#sp-bottom .sp-module {
  margin-bottom: 30px;
}
#sp-bottom .sp-module .sp-module-title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 30px;
  color: #fff;
}
#sp-bottom .sp-module ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sp-bottom .sp-module ul > li {
  display: block;
  margin-bottom: 15px;
}
#sp-bottom .sp-module ul > li:last-child {
  margin-bottom: 0;
}
#sp-bottom .sp-module ul > li > a {
  display: block;
}
#sp-footer {
  font-size: 14px;
  padding: 0;
}
#sp-footer .container-inner {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#sp-footer ul.menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 -10px;
}
#sp-footer ul.menu li {
  display: inline-block;
  margin: 0 10px;
}
#sp-footer ul.menu li a {
  display: block;
}
#sp-footer ul.menu li a:hover {
  background: none;
}
.sp-scroll-up {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}
.sp-scroll-up:hover,
.sp-scroll-up:active,
.sp-scroll-up:focus {
  color: #fff;
  background: #000;
}
.btn:focus {
  box-shadow: none !important;
}
.hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sp-megamenu-parent {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  z-index: 99;
  display: block;
  float: right;
  position: relative;
}
.sp-megamenu-parent .sp-menu-item > a img,
.sp-megamenu-parent .sp-menu-item > span img {
  display: inline-block;
}
.sp-megamenu-parent > li {
  display: inline-block;
  position: relative;
  padding: 0;
}
.sp-megamenu-parent > li > a,
.sp-megamenu-parent > li > span {
  display: inline-block;
  padding: 0 15px;
  line-height: 80px;
  font-size: 14px;
  margin: 0;
}
.sp-megamenu-parent > li:last-child > a {
  padding: 0px 0px 0px 15px;
}
.sp-megamenu-parent > li.active > a {
  font-weight: 500;
}
.sp-megamenu-parent .sp-module {
  padding: 10px;
}
.offcanvas-menu .fab,
.offcanvas-menu .far,
.offcanvas-menu .fas {
  color: #252525;
}
.offcanvas-menu .offcanvas-inner ul.menu li.active a {
  color: #0345bf !important;
}
#offcanvas-toggler {
  display: inline-flex;
  align-items: center;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
}
#offcanvas-toggler > span:hover {
  color: #fff;
}
.offcanvas-init {
  overflow-x: hidden;
  position: relative;
}
.offcanvas-active .offcanvas-overlay {
  visibility: visible;
  opacity: 1;
}
.offcanvas-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.body-wrapper {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  backface-visibility: hidden;
}
.close-offcanvas {
  position: absolute;
  top: 25px;
  z-index: 1;
}
.offcanvas-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 60px;
  overflow: inherit;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 10000;
}
.offcanvas-menu #offcanvas-toggler {
  display: none !important;
}
.offcanvas-menu .offcanvas-inner {
  padding: 25px;
}
.offcanvas-menu .offcanvas-inner .sp-module {
  padding: 0;
  margin: 0;
}
.offcanvas-menu .offcanvas-inner .sp-module:not(:last-child) {
  margin-right: 20px;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-title {
  font-size: 1rem;
  font-weight: bold;
}
.offcanvas-menu .offcanvas-inner .sp-module:not(:last-child) {
  margin-bottom: 20px;
}
.offcanvas-menu .offcanvas-inner ul.menu,
.offcanvas-menu .offcanvas-inner ul.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin: 0 0 15px 0;
  list-style: none;
}
.offcanvas-menu .offcanvas-inner ul.menu > li {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: block;
  font-weight: 600;
}
.offcanvas-menu .offcanvas-inner ul.menu > li > a,
.offcanvas-menu .offcanvas-inner ul.menu > li > span {
  display: block;
  font-size: 18px;
  padding: 10px 0px;
  position: relative;
  line-height: 18px;
  opacity: 0.7;
  transition: 0.3s;
}
.offcanvas-menu .offcanvas-inner ul.menu > li > a:hover,
.offcanvas-menu .offcanvas-inner ul.menu > li > span:hover {
  opacity: 1;
}
.offcanvas-menu .offcanvas-inner ul.menu > li > ul {
  display: none;
}
.offcanvas-menu .offcanvas-inner ul.menu > li > ul li a {
  font-size: 15px;
  padding: 4px 0px;
  line-height: 18px;
  font-weight: 400;
}
.offcanvas-menu.border-menu .offcanvas-inner ul.menu > li {
  border-bottom: 1px solid rgba(32, 31, 31, 0.1);
  margin-bottom: 0;
}
.offcanvas-menu.border-menu .offcanvas-inner ul.menu > li > a {
  padding: 15px 30px 15px 10px;
}
.offcanvas-menu.border-menu .offcanvas-inner ul.menu ul {
  padding-bottom: 15px;
}
.offcanvas-menu.center-alignment .offcanvas-inner {
  padding: 0px 15px;
}
body.ltr.offcanvs-position-right .body-wrapper {
  right: 0;
}
body.ltr.offcanvs-position-right .offcanvas-menu {
  right: -300px;
  top: 0;
}
body.ltr.offcanvs-position-right.offcanvas-active .offcanvas-menu {
  right: 0;
  top: 0;
}
body.ltr .close-offcanvas {
  right: 15px;
}
body.ltr .offcanvas-menu .offcanvas-inner ul.menu > li ul {
  margin-left: 10px;
}
@keyframes spFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spFadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spZoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes spRotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
@keyframes spPulse {
  from {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.5;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes spSpin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader6 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes loader6 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes audioWave {
  25% {
    background:
      linear-gradient(#0345bf, #0345bf) 0 50%,
      linear-gradient(#0345bf, #0345bf) 0.625em 50%,
      linear-gradient(#0345bf, #0345bf) 1.25em 50%,
      linear-gradient(#0345bf, #0345bf) 1.875em 50%,
      linear-gradient(#0345bf, #0345bf) 2.5em 50%;
    background-repeat: no-repeat;
    background-size:
      0.5em 2em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em;
  }
  37.5% {
    background:
      linear-gradient(#0345bf, #0345bf) 0 50%,
      linear-gradient(#0345bf, #0345bf) 0.625em 50%,
      linear-gradient(#0345bf, #0345bf) 1.25em 50%,
      linear-gradient(#0345bf, #0345bf) 1.875em 50%,
      linear-gradient(#0345bf, #0345bf) 2.5em 50%;
    background-repeat: no-repeat;
    background-size:
      0.5em 0.25em,
      0.5em 2em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em;
  }
  50% {
    background:
      linear-gradient(#0345bf, #0345bf) 0 50%,
      linear-gradient(#0345bf, #0345bf) 0.625em 50%,
      linear-gradient(#0345bf, #0345bf) 1.25em 50%,
      linear-gradient(#0345bf, #0345bf) 1.875em 50%,
      linear-gradient(#0345bf, #0345bf) 2.5em 50%;
    background-repeat: no-repeat;
    background-size:
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 2em,
      0.5em 0.25em,
      0.5em 0.25em;
  }
  62.5% {
    background:
      linear-gradient(#0345bf, #0345bf) 0 50%,
      linear-gradient(#0345bf, #0345bf) 0.625em 50%,
      linear-gradient(#0345bf, #0345bf) 1.25em 50%,
      linear-gradient(#0345bf, #0345bf) 1.875em 50%,
      linear-gradient(#0345bf, #0345bf) 2.5em 50%;
    background-repeat: no-repeat;
    background-size:
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 2em,
      0.5em 0.25em;
  }
  75% {
    background:
      linear-gradient(#0345bf, #0345bf) 0 50%,
      linear-gradient(#0345bf, #0345bf) 0.625em 50%,
      linear-gradient(#0345bf, #0345bf) 1.25em 50%,
      linear-gradient(#0345bf, #0345bf) 1.875em 50%,
      linear-gradient(#0345bf, #0345bf) 2.5em 50%;
    background-repeat: no-repeat;
    background-size:
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 0.25em,
      0.5em 2em;
  }
}
@-webkit-keyframes effect-2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes effect-2 {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}
@keyframes rot1 {
  100% {
    transform: skew(-10deg) translateX(50px) rotate(405deg);
  }
}
@-webkit-keyframes rot1 {
  100% {
    -webkit-transform: skew(-10deg) translateX(50px) rotate(405deg);
  }
}
@keyframes rot2 {
  100% {
    transform: skew(-10deg) rotate(525deg);
  }
}
@-webkit-keyframes rot2 {
  100% {
    -webkit-transform: skew(-10deg) rotate(525deg);
  }
}
@keyframes rot3 {
  100% {
    transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
  }
}
@-webkit-keyframes rot3 {
  100% {
    -webkit-transform: skew(-10deg) translateX(20px) translateY(-50px)
      rotate(645deg);
  }
}
@keyframes width {
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .sp-megamenu-parent > li > a,
  .sp-megamenu-parent > li span {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  :root {
    --header_height: $header_height_sm;
  }
  .sp-megamenu-parent > li > a,
  .sp-megamenu-parent > li > span {
    line-height: 50px;
  }
  #sp-header {
    height: 50px;
  }
  #sp-header .logo {
    height: 50px;
  }
  #offcanvas-toggler {
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  :root {
    --header_height: $header_height_xs;
  }
  .sp-megamenu-parent > li > a,
  .sp-megamenu-parent > li > span {
    line-height: 40px;
  }
  #sp-header {
    height: 40px;
  }
  #sp-header .logo {
    height: 50px;
  }
  #offcanvas-toggler {
    height: 50px;
    line-height: 50px;
  }
  #sp-header .sp-module {
    margin-left: 10px;
  }
}
