.sp-page-builder .page-content #section-id-190e7a2e-e810-4905-a1f2-0a5529c22d27{box-shadow:0 0 0 0 #FFFFFF;}.sp-page-builder .page-content #section-id-190e7a2e-e810-4905-a1f2-0a5529c22d27{padding-top:75px;padding-right:0px;padding-bottom:75px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}.sp-page-builder .page-content #section-id-190e7a2e-e810-4905-a1f2-0a5529c22d27 .sppb-section-title .sppb-title-heading {text-align:center;}.sp-page-builder .page-content #section-id-190e7a2e-e810-4905-a1f2-0a5529c22d27 .sppb-section-title .sppb-title-subheading {text-align:center;}#column-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{max-width:8.333333%;flex-basis:8.333333%;}@media (max-width:1199.98px) {#column-wrap-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{max-width:8.333333%;flex-basis:8.333333%;}}@media (max-width:991.98px) {#column-wrap-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{max-width:8.333333%;flex-basis:8.333333%;}}@media (max-width:767.98px) {#column-wrap-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-6a7e036f-870c-4b1d-be61-858cb98de1f9{max-width:100%;flex-basis:100%;}}#column-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{max-width:83.333333%;flex-basis:83.333333%;}@media (max-width:1199.98px) {#column-wrap-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{max-width:83.333333%;flex-basis:83.333333%;}}@media (max-width:991.98px) {#column-wrap-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{max-width:83.333333%;flex-basis:83.333333%;}}@media (max-width:767.98px) {#column-wrap-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-dda2e1bb-b02d-4b14-8ae8-daeee515209b{max-width:100%;flex-basis:100%;}}#sppb-addon-7e07c4b6-5b8c-4084-b347-5ab778d2daec{box-shadow:0 0 0 0 #FFFFFF;}#column-id-de9d8f29-1025-45b9-974e-e9464d7d891f{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-de9d8f29-1025-45b9-974e-e9464d7d891f{max-width:8.333333%;flex-basis:8.333333%;}@media (max-width:1199.98px) {#column-wrap-id-de9d8f29-1025-45b9-974e-e9464d7d891f{max-width:8.333333%;flex-basis:8.333333%;}}@media (max-width:991.98px) {#column-wrap-id-de9d8f29-1025-45b9-974e-e9464d7d891f{max-width:8.333333%;flex-basis:8.333333%;}}@media (max-width:767.98px) {#column-wrap-id-de9d8f29-1025-45b9-974e-e9464d7d891f{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-de9d8f29-1025-45b9-974e-e9464d7d891f{max-width:100%;flex-basis:100%;}}
#sp-bottom a { color: #ffffff;}
.sp-module-content .latestnews>li>a>span{
    display:none !important;
}
.article-details > * > .article-intro-text {
  display: none !important;
}
@media (max-width: 575px) {
  #sp-header {
    height: 50px;
  }
.price-feature .sppb-media-content {
  height: auto !important;
}
}
.col-sm-5 .logo{display: none !important;}
.header-buttons:first-child {display: none !important;}
.sp-copyright{margin-left: auto; margin-right: auto;}
#sp-footer1 .sp-column {
  position: relative;
  text-align: center;
}
.price-feature {
  box-shadow: 5px 3px 3px #6B6B6B;
  border-radius: 0px 5px 10px 0px;
  padding-top: 20px;
  padding-left: 5px;
}
.price-feature .sppb-media-content {
  height: 150px;
}
#sp-bottom{ background-color:#6B6B6B; }
#sp-footer{ background-color:#6B6B6B; }
#sp-footer a{color:#FFFFFF;}
#sp-footer a:hover{color:#25B0EA;}