.sp-page-builder .page-content #section-id-1519278764266 {
  background-color: #f9f9f9;
  background-image: url("/images/2023/10/13/viziocumbackground-2.png");
}
.sp-page-builder .page-content #section-id-1519278764266 {
  padding-top: 70px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}
#column-wrap-id-1519278764262 {
  max-width: 100%;
  flex-basis: 100%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519278764262 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519278764262 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519278764262 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519278764262 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-wrapper-1519279062623 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279062623 .sppb-addon-title {
  margin-top: 20px;
}
#sppb-addon-1519279062623 .sppb-addon-text-block {
  text-align: center;
}
#column-wrap-id-1519278764263 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519278764263 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519278764263 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519278764263 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519278764263 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-wrapper-1519279129419 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279129419 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279129419 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279129419 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279129419 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279129419 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279129419 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279129419 .sppb-feature-box-title,
#sppb-addon-1519279129419 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279129419 {
  transition: 0.3s;
}
#sppb-addon-wrapper-1519279374075 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279374075 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279374075 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374075 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374075 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279374075 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279374075 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279374075 .sppb-feature-box-title,
#sppb-addon-1519279374075 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279374075 {
  transition: 0.3s;
}
#sppb-addon-wrapper-1519327302555 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519327302555 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519327302555 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519327302555 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519327302555 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519327302555 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519327302555 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519327302555 .sppb-feature-box-title,
#sppb-addon-1519327302555 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519327302555 {
  transition: 0.3s;
}
#column-wrap-id-1519278764264 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519278764264 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519278764264 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519278764264 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519278764264 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-wrapper-1519279374057 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279374057 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279374057 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374057 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374057 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279374057 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279374057 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279374057 .sppb-feature-box-title,
#sppb-addon-1519279374057 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279374057 {
  transition: 0.3s;
}
#sppb-addon-wrapper-1519279374078 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279374078 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279374078 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374078 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374078 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279374078 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279374078 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279374078 .sppb-feature-box-title,
#sppb-addon-1519279374078 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279374078 {
  transition: 0.3s;
}
#column-wrap-id-1519278764265 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519278764265 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519278764265 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519278764265 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519278764265 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-wrapper-1519279374066 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279374066 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279374066 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374066 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374066 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279374066 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279374066 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279374066 .sppb-feature-box-title,
#sppb-addon-1519279374066 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279374066 {
  transition: 0.3s;
}
#sppb-addon-wrapper-1519279374081 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
#sppb-addon-1519279374081 .sppb-addon-title {
  margin-top: 20px;
  color: #4a4a4a;
}
#sppb-addon-1519279374081 .sppb-addon-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374081 .sppb-feature-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#sppb-addon-1519279374081 .sppb-icon .sppb-icon-container {
  display: inline-block;
  text-align: center;
}
#sppb-addon-1519279374081 .sppb-icon .sppb-icon-container > i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
#sppb-addon-1519279374081 .sppb-addon-content {
  text-align: left;
}
#sppb-addon-1519279374081 .sppb-feature-box-title,
#sppb-addon-1519279374081 .sppb-feature-box-title a {
  color: #4a4a4a;
}
#sppb-addon-1519279374081 {
  transition: 0.3s;
}
.sp-page-builder
  .page-content
  #section-id-64b11ba8-49f6-4b0d-84a6-91b76f2cdd06 {
  box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder
  .page-content
  #section-id-64b11ba8-49f6-4b0d-84a6-91b76f2cdd06 {
  padding-top: 75px;
  padding-right: 0px;
  padding-bottom: 75px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#column-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
  box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
  max-width: 100%;
  flex-basis: 100%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-4fa5d09b-78fd-46c8-b97a-b5650d3aab2f {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sp-bottom a {
  color: #ffffff;
}
.sp-module-content .latestnews > li > a > span {
  display: none !important;
}
.article-details > * > .article-intro-text {
  display: none !important;
}
@media (max-width: 575px) {
  #sp-header {
    height: 50px;
  }
}
.col-sm-5 .logo {
  display: none !important;
}
.header-buttons:first-child {
  display: none !important;
}
.sp-copyright {
  margin-left: auto;
  margin-right: auto;
}
#sp-footer1 .sp-column {
  position: relative;
  text-align: center;
}
.price-feature {
  box-shadow: 5px 3px 3px #6b6b6b;
}
.price-feature .sppb-media-content {
  height: 150px;
}
#sp-bottom {
  background-color: #6b6b6b;
}
#sp-footer {
  background-color: #6b6b6b;
}
#sp-footer a {
  color: #ffffff;
}
#sp-footer a:hover {
  color: #25b0ea;
}
