.sp-page-builder .page-content #section-id-1519320065460 {
  background-color: #f9f9f9;
}
.sp-page-builder .page-content #section-id-1519320065460 {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}
#column-wrap-id-1519320065461 {
  max-width: 100%;
  flex-basis: 100%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519320065461 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519320065461 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519320065461 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519320065461 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-1519320065462 .sppb-addon-title {
  margin-bottom: 0px;
}
#sppb-addon-1519320065462 .sppb-addon-text-block {
  text-align: center;
}
.sp-page-builder .page-content #section-id-1519320065459 {
  background-color: #f9f9f9;
}
.sp-page-builder .page-content #section-id-1519320065459 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
}
#column-wrap-id-1519320065455 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519320065455 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519320065455 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519320065455 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519320065455 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#column-wrap-id-1519320065456 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519320065456 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519320065456 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519320065456 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519320065456 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-wrapper-1519320838960 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
#sppb-addon-1519320838960 .sppb-addon-title {
  margin-top: 10px;
  margin-bottom: 0px;
}
#sppb-addon-1519320838960 .sppb-addon-title {
  font-size: 16px;
}
#sppb-addon-1519320838960 .sppb-addon-single-image-container img {
  border-radius: 0px;
}
#sppb-addon-1519320838960 .sppb-addon-single-image-container {
  border-radius: 0px;
}
#sppb-addon-1519320838960 {
  text-align: left;
}
#column-wrap-id-1519320065457 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-1519320065457 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-1519320065457 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-1519320065457 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-1519320065457 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.sp-page-builder .page-content #mudr_maria_prazenicova_viziocum {
  box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #mudr_maria_prazenicova_viziocum {
  padding-top: 75px;
  padding-right: 0px;
  padding-bottom: 75px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.sp-page-builder
  .page-content
  #mudr_maria_prazenicova_viziocum
  .sppb-section-title
  .sppb-title-heading {
  text-align: center;
}
#column-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
  box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
  max-width: 50%;
  flex-basis: 50%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-fc6c9912-422a-4d33-bf25-feea8f4f380d {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e {
  box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e .sppb-addon-title {
  margin-bottom: 0px;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e .sppb-addon-content {
  text-align: center;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e .sppb-media-content .sppb-btn {
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e
  #btn-68423693-b1da-4a09-90d0-bb1b381af80e.sppb-btn-custom {
  padding: 8px 22px 10px 22px;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e
  #btn-68423693-b1da-4a09-90d0-bb1b381af80e.sppb-btn-custom {
  background-color: #3366ff;
  color: #ffffff;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e
  #btn-68423693-b1da-4a09-90d0-bb1b381af80e.sppb-btn-custom:hover {
  background-color: #0037dd;
  color: #ffffff;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e {
  transition: 0.3s;
}
#sppb-addon-68423693-b1da-4a09-90d0-bb1b381af80e:hover {
  box-shadow: 0 0 0 0 #ffffff;
}
#column-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
  box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
  max-width: 50%;
  flex-basis: 50%;
}
@media (max-width: 1199.98px) {
  #column-wrap-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 991.98px) {
  #column-wrap-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 767.98px) {
  #column-wrap-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #column-wrap-id-425ede11-2913-4c3a-9bda-dbd67dc9ca19 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
#sppb-addon-63b075d0-2664-42b7-a7b5-4b6cba72c7a4 {
  box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-63b075d0-2664-42b7-a7b5-4b6cba72c7a4 .sppb-addon-title {
  margin-bottom: 0px;
}
#sppb-addon-63b075d0-2664-42b7-a7b5-4b6cba72c7a4
  .sppb-addon-single-image-container
  img {
  border-radius: 0px;
}
#sppb-addon-63b075d0-2664-42b7-a7b5-4b6cba72c7a4
  .sppb-addon-single-image-container {
  border-radius: 0px;
}
#sp-bottom a {
  color: #ffffff;
}
.sp-module-content .latestnews > li > a > span {
  display: none !important;
}
.article-details > * > .article-intro-text {
  display: none !important;
}
@media (max-width: 575px) {
  #sp-header {
    height: 50px;
  }
}
.col-sm-5 .logo {
  display: none !important;
}
.header-buttons:first-child {
  display: none !important;
}
.sp-copyright {
  margin-left: auto;
  margin-right: auto;
}
#sp-footer1 .sp-column {
  position: relative;
  text-align: center;
}
.price-feature {
  box-shadow: 5px 3px 3px #6b6b6b;
}
.price-feature .sppb-media-content {
  height: 150px;
}
#sp-bottom {
  background-color: #6b6b6b;
}
#sp-footer {
  background-color: #6b6b6b;
}
#sp-footer a {
  color: #ffffff;
}
#sp-footer a:hover {
  color: #25b0ea;
}
